body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

#content {
    padding: 1em;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('assets/student_portal.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    flex: 1;
}


.login-container {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 80%; /* Adjust the width as needed for larger screens */
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.login-title {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



@media (max-width: 768px) {
    .login-container {
        width: 90%;
        left: 50%;
    }
}
